{% extends 'base.html.twig' %}

{% block title %}Ajouter un Trajet{% endblock %}

{% block body %}

     <main class="connect-form">
        <h2>Ajouter un trajet</h2>
         {{ form(runForm) }}
    </main>
{% endblock %}
