{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ run.departure }} --> {{ run.arrival }}</h1>

    Pasengers:
    <ul>
    {% for pasenger in run.passengers %}
       <li> {{ passenger.firstname }} {{ passenger.lastname }}</li>
    {% endfor %}

    </ul>
{% endblock %}